<div class="col-md-2">

</div>
<div class="col-md-8" ng-controller="registerController">
    <div class="container" style="padding-top: 30px;">
        <h2>JOB SEEKER LOGIN</h2>
        <form>
            <div class="form-group">
                <label for="usr">Email:</label>
                <input type="text" class="form-control" id="usr" ng-model="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" ng-model="password">
            </div>
                <button style="width: 100%" class="btn btn-outline-success" ng-click="seekerlogin(email, password)">LOGIN</button>
        </form>
    </div>
</div>
<div class="col-md-2">
</div>