<div class="col-md-2">

</div>
<div class="col-md-8" ng-controller="registerController">
    <div class="container" style="padding-top: 30px;">
        <h2>JOB SEEKER REGISTER</h2>

        <form>
            <div class="form-group">
                <label >First Name:</label>
                <input type="text" class="form-control" ng-model="fname">
            </div>

            <div class="form-group">
                <label >Last Name:</label>
                <input type="text" class="form-control" ng-model="lname">
            </div>

            <div class="form-group">
                <label >Age:</label>
                <input type="text" class="form-control" ng-model="age">
            </div>

            <div class="form-group">
                <label >Email:</label>
                <input type="text" class="form-control" ng-model="email">
            </div>

            <div class="form-group">
                <label >Gender:</label>
                <input type="text" class="form-control" ng-model="gender">
            </div>

            <div class="form-group">
                <label >Mobile:</label>
                <input type="text" class="form-control" ng-model="mobile">
            </div>

            <div class="form-group">
                <label >Industry Experience:</label>
                <input type="text" class="form-control" ng-model="experience">
            </div>

            <div class="form-group">
                <label >Education Level:</label>
                <input type="text" class="form-control" ng-model="level">
            </div>

            <div class="form-group">
                <label >Password:</label>
                <input type="password" class="form-control" ng-model="password">
            </div>

            <button style="width: 100%" class="btn btn-outline-success" ng-click="registerseeker(fname, lname, email, age, gender, mobile, password,experience, level)">REGISTER</button>

        </form>
    </div>
</div>
<div class="col-md-2">

</div>